# ==========================================
# RESTO - CONTOH KONFIGURASI ENVIRONMENT
# Salin file ini menjadi ".env" dan sesuaikan nilainya
# ==========================================

# Port yang digunakan oleh Express Server
PORT=3002

# Kunci Rahasia Sesi (Ganti dengan string acak panjang untuk keamanan produksi)
SESSION_SECRET=ganti_dengan_kunci_rahasia_acak_anda_di_sini
